*{
    margin: 0px;
    padding: 0px;
    border: none;
}
body{
    align-content: center;
}
.header{
    width: 1512px;
    height: 97px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    p{
        display:inline-block;
        text-align: right;
        padding-left: 180px;
    }

    .logo{
    display: inline-block;
    width:90px;
    height: 50px;
    padding-right:100px;
    margin-left: 50px;
    margin-top: 5px;
    
}
    .search{
    display: inline-block;
    width: 357px;
    height: 58px;
    background-color: #ecf3f5;
    border-radius: 10px;
    padding: 20px;
    font-size: 14px;
    margin-top: 15px;
}

.data-text{
    margin-left: 250px;
    display: inline-block;
    width: 300px;
    height: 22px; 
    .data-icon{
        display: inline-block;
        width: 23px;
        height: 23px;
    }  
}


.add-table{
    width: 175px;
    height: 58px;
    background-color: #b1ced4;
    border-radius: 10px;
    
    
    }
    .btn-icon{
        display:inline-block;
        margin: 6px;
        
    }
}
.product-cards{
    width:1000px;
    margin-left:100px;
    text-align: left;
}
.chicken-wings{
    display: inline-block;
    width: 203px;
    height: 234px;
    background-color: #d8e6e9;
    margin-left: 25px;
    margin-top: 50px;
    border-radius: 15px;
    .card-name{
        text-align: center;
    }
    .card-category{
       font-size: 14px;
       margin-right: 25px;
       margin-left: 15px;
       
       
    }

    .card-name{
        margin-top: 15px;
    }

    .card-icons{
        display: inline-block;
        margin-top: 10px;
        

    }

    
}

.menu {
    width: 949px;
    height: 106px;
    background-color: #eaf0f0;
    margin-left: 105px;
    position:fixed;
    top: 850px;


    .green-button{
        background-color: #4a5c2d;
        color: #ecf3f5;
        margin-top: 25px;
        margin-left: 35px;
        margin-right: 45px;
        padding: 19px;
        border-radius: 10px;
    }

    .gray-button{
        background-color: #d9d9d9;
        margin-top: 25px;
        margin-left: 35px;
        margin-right: 45px;
        padding: 19px 44px;
        border-radius: 10px;
        color: #a9a9a9
    }
}

